<?xml version="1.0"?>
<launch>
  <arg name="left_arm_kinematics_config" default="$(find ur_robot_driver)/config/left_arm_ur3_calibration.yaml"/>
  <arg name="right_arm_kinematics_config" default="$(find ur_robot_driver)/config/right_arm_ur3_calibration.yaml"/>
  <arg name="start_left_arm" default="true"/>
  <arg name="start_right_arm" default="true"/>
  <include file="$(find ur_description)/launch/load_ur3_dual.launch">
    <arg name="left_arm_kinematics_params" value="$(arg left_arm_kinematics_config)"/>
    <arg name="right_arm_kinematics_params" value="$(arg right_arm_kinematics_config)"/>
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
    <rosparam param="source_list">[/left_arm/joint_states, /right_arm/joint_states, /left_gripper/joint_states, /right_gripper/joint_states]</rosparam>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
  <group ns="right_arm" if="$(arg start_right_arm)">
    <node name="ur_hardware_interface" pkg="ur_robot_driver" type="ur_robot_driver_node" output="screen">
      <param name="robot_ip" value="192.168.1.44"/>
      <param name="reverse_port" value="50001"/>
      <param name="script_sender_port" value="50002"/>
      <param name="trajectory_port" value="50003"/>
      <param name="script_command_port" value="50004"/>
      <rosparam command="load" file="$(arg right_arm_kinematics_config)" />
      <param name="script_file" value="$(find ur_client_library)/resources/external_control.urscript"/>
      <param name="output_recipe_file" value="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"/>
      <param name="input_recipe_file" value="$(find ur_robot_driver)/resources/rtde_input_recipe.txt"/>
      <param name="headless_mode" value="false"/>
      <param name="tf_prefix" value="right_arm_"/>
      <param name="use_tool_communication" value="false"/>
      <param name="servoj_gain" value="2000"/>
      <param name="servoj_lookahead_time" value="0.03"/>
    </node>
    <rosparam file="$(find ur_robot_driver)/config/ur3_controllers_right.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="joint_state_controller scaled_pos_joint_traj_controller" />
  </group>
  <group ns="left_arm" if="$(arg start_left_arm)">
    <node name="ur_hardware_interface" pkg="ur_robot_driver" type="ur_robot_driver_node" output="screen">
      <param name="robot_ip" value="192.168.1.43"/>
      <param name="reverse_port" value="40001"/>
      <param name="script_sender_port" value="40002"/>
      <param name="trajectory_port" value="40003"/>
      <param name="script_command_port" value="40004"/>
      <rosparam command="load" file="$(arg left_arm_kinematics_config)" />
      <param name="script_file" value="$(find ur_client_library)/resources/external_control.urscript"/>
      <param name="output_recipe_file" value="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"/>
      <param name="input_recipe_file" value="$(find ur_robot_driver)/resources/rtde_input_recipe.txt"/>
      <param name="headless_mode" value="false"/>
      <param name="tf_prefix" value="left_arm_"/>
      <param name="use_tool_communication" value="false"/>
      <param name="servoj_gain" value="2000"/>
      <param name="servoj_lookahead_time" value="0.03"/>
    </node>
    <rosparam file="$(find ur_robot_driver)/config/ur3_controllers_left.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="joint_state_controller scaled_pos_joint_traj_controller" />
  </group>

  
</launch>
