<?xml version="1.0"?>
<launch>
  <!-- Detection-only node for the 55 mm ArUco cube. No robot motion. -->
  <arg name="start_cameras" default="false"/>
  <arg name="start_handeye_tf" default="true"/>
  <arg name="start_camera_info" default="true"/>
  <arg name="view_debug" default="true"/>

  <arg name="camera2_info_yaml"
       default="/home/gzu/gzu_ws/calibration/realsense_intrinsics/camera_912112073732_20260611_135007/ost.yaml"/>
  <arg name="camera2_image_topic" default="/camera2/color/image_raw"/>
  <arg name="camera2_depth_topic" default="/camera2/aligned_depth_to_color/image_raw"/>
  <arg name="camera2_raw_info_topic" default="/camera2/color/camera_info"/>
  <arg name="camera2_calibrated_info_topic" default="/camera2/color/camera_info_calibrated"/>
  <arg name="camera2_frame" default="camera2_color_optical_frame"/>

  <arg name="base_frame" default="right_arm_base"/>
  <arg name="aruco_dictionary" default="DICT_4X4_50"/>
  <arg name="marker_size" default="0.047"/>
  <arg name="cube_size" default="0.055"/>
  <arg name="depth_window" default="11"/>
  <arg name="primary_id" default="0"/>
  <arg name="require_primary_id" default="true"/>

  <group if="$(arg start_cameras)">
    <include file="$(find dual_arm_tasks)/launch/dual_realsense_cameras.launch"/>
  </group>

  <group if="$(arg start_handeye_tf)">
    <include file="$(find dual_arm_tasks)/launch/right_arm_camera2_eye_on_base_tf.launch"/>
  </group>

  <group if="$(arg start_camera_info)">
    <node pkg="dual_arm_tasks"
          type="camera_info_from_yaml_publisher.py"
          name="camera2_calibrated_camera_info"
          output="screen">
      <param name="camera_info_yaml" value="$(arg camera2_info_yaml)"/>
      <param name="source_camera_info_topic" value="$(arg camera2_raw_info_topic)"/>
      <param name="output_camera_info_topic" value="$(arg camera2_calibrated_info_topic)"/>
      <param name="frame_id" value="$(arg camera2_frame)"/>
    </node>
  </group>

  <node pkg="dual_arm_tasks"
        type="camera2_aruco_cube_pose.py"
        name="camera2_aruco_cube_pose"
        output="screen">
    <param name="image_topic" value="$(arg camera2_image_topic)"/>
    <param name="depth_topic" value="$(arg camera2_depth_topic)"/>
    <param name="camera_info_topic" value="$(arg camera2_calibrated_info_topic)"/>
    <param name="camera_frame" value="$(arg camera2_frame)"/>
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="aruco_dictionary" value="$(arg aruco_dictionary)"/>
    <param name="marker_size" value="$(arg marker_size)"/>
    <param name="cube_size" value="$(arg cube_size)"/>
    <param name="depth_window" value="$(arg depth_window)"/>
    <param name="use_depth_for_top" value="true"/>
    <param name="primary_id" value="$(arg primary_id)"/>
    <param name="require_primary_id" value="$(arg require_primary_id)"/>
    <rosparam param="target_ids">[0, 1, 2, 3, 4, 5]</rosparam>
  </node>

  <group if="$(arg view_debug)">
    <node pkg="image_view"
          type="image_view"
          name="camera2_aruco_cube_debug_view"
          args="image:=/camera2_aruco_cube/debug_image"/>
  </group>
</launch>
